<% if locals[:proposal].experiments.pluck(:staffer_id).include?(current_user.id) %>
  <p id="card-sub-title"> Your experiments on this proposal </p>
  <%locals[:proposal].experiments.each do | exp |%>
      <p class="experiment-title"><%= link_to(exp.title, experiment_path) %></p>
  <% end %>
<% end %>

