<nav class="nav-bar-global">
  <div class="nav-bar-header">
    <h1><%= current_user.username %></h1>
  </div>

  <div class="nav-bar-buttons">
    <ul class="nav-options-list">
      <li>Sign out</li>
      <li>Categories</li>
    </ul>
  </div>
</nav>
