<nav class="nav-bar-global">
  <div class="nav-bar-header">
    <h1> <%= current_user.username %> </h1>
  </div>

  <div class="nav-bar-buttons">
    <ul class="nav-options-list">
      <li class="list-item"><a href="/categories">Categories</a></li>
      <li class="list-item"><%= button_to("Log out", :sessions, method: :delete) %></li>
    </ul>
  </div>
</nav>
