<%= render "partials/header_bar" %>
  <div class="list-container" id="proposals-list">
    <div id="proposal-header"><h1>Your Proposals</h1></div>
    <% current_user.proposals.each do |proposal|%>
      <div class="ind-list-container">
        <p class="prop-title"><%= proposal.title %></p>
        <p><strong>Hypothesis:</strong> <%= proposal.hypothesis %></p><br>
        <p id="card-sub-title">&#x25BC; Experiments on this proposal &#x25BC;</p>
      <%proposal.experiments.each do | exp |%>
        <p class="experiment-title"><%= link_to(exp.title, experiment_path) %></p>
        <% end %>
      </div>
    <% end %>
  </div>
