#proposals-list {
  width: 80%;
  /*border: 1px solid black;*/
  padding-top: 3%;
  box-shadow: 3px 3px 6px 3px rbga(0,0,0,.1);

}



.list-container {
  display: inline-block;
  width: 40%;
  height: 2em;
  padding-bottom: 2em;
  text-align: center;

}

.ind-list-container {
  display: block;
  padding-top: 1em;
  margin-top: 2em;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 3em;
  box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, .15);
  /*height: 10em;*/
}

.prop-title {
  font-size: 1.5em;
  font-weight: 400;
  padding-bottom: 1em;
}

#card-sub-title {
  font-weight: 100;
}

.experiment-title {
  margin-top: 1em;
}
