<%= render 'partials/header_bar' %>

<div class="prop-list-container">
  <% @proposals.each do |proposal|%>
  <div class="ind-list-container">
    <p class="prop-title"><%= link_to(proposal.title, proposal_path(proposal)) %></p>
    <p><strong>Hypothesis:</strong> <%= proposal.hypothesis %></p><br>

    <% if check_if_faculty %>
      <%= render 'partials/experiments_list', locals: {proposal: proposal} %>
      </div>
    <% else %>
      <% render 'partials/experiments_staffer_list', locals: {proposal: proposal} %>
      </div>
      <% end %>


  <% end %>
</div>
