<%= render 'partials/header_bar' %>
<div class="topic-list-container">
  <div class="topic-header"><h1>Categories</h1></div>
  <div class="topic-name-container">
    <% @categories.each do |cat| %>
      <div class="ind-topic-container">
        <%= link_to(cat.name, category_path(cat)) %>
      </div>
    <% end %>
  </div>

</div>
